.page {
    > main {
        grid-template-areas: "search search" "group category" "items details";
        grid-template-rows: auto auto 1fr;
        grid-template-columns: 1fr 1fr;

        > * {
            margin: .4rem;
        }
    }
}

.list-tags {
    > span {
        display: inline-block;
        margin-right: 1rem;
    }
}
