body {
    height: 100vh;
}

.page {
    height: 100vh;

    > main {
        position: relative;
        display: grid;
        height: 100%;
        grid-template-areas: "search search" "group category" "items details";
        grid-template-rows: auto auto 1fr;
        grid-template-columns: 1fr 1fr;

        > * {
            margin: .4rem;
        }
    }
}



#loader {
    text-align: center;
}

.list-box {
    max-height: 100%;
    overflow-y: auto;
    position: absolute;
    left: 0;
    right: 0;

    > .item {
        display: block;
        padding: .75rem .5rem;
        cursor: pointer;
        transition: all ease-in-out .25s;

        &:hover {
            background: #ededed;
        }
    }
}

.list-tags {
    > span {
        display: inline-block;
        margin-right: 1rem;
    }
}