.page > main {
  grid-template-areas: "search search" "items items" "separator separator" "list details";
  grid-template-rows: auto 300px auto 1fr;
  grid-template-columns: 1fr 2fr; }
  .page > main > * {
    margin: .4rem; }

.panel-horizontal {
  display: flex;
  flex-direction: row;
  overflow-x: auto; }
  .panel-horizontal > * {
    width: 300px;
    position: relative; }
