html, body {
    width: 100%;
    min-height: 100vh;
}

body {
    height: 100vh;
}

.page {
    display: grid;
    height: 100vh;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "header" "main" "footer";

    header, footer {
        padding: 1rem 0;
    }

    header {
        grid-area: header;
    }

    footer {
        grid-area: footer;
    }

    main {
        grid-area: main;
        position: relative;
        display: grid;
        height: 100%;
    }
}

#loader {
    text-align: center;
}

.list-box {
    max-height: 100%;
    overflow-y: auto;
    position: absolute;
    left: 0;
    right: 0;

    > .item {
        display: block;
        padding: .75rem .5rem;
        cursor: pointer;
        transition: all ease-in-out .25s;

        &:hover {
            background: #ededed;
        }
    }
}
